{% extends 'base.html' %}
{% block title %}Employee Paid Details{% endblock %}
{% block content%}

<p>
  <span>Payroll Date: </span> 
  {{ payroll_employee.payroll.date }}
</p>
<p>
  <span>Tax Revision: </span> 
  {{ payroll_employee.payroll.tax_revision }}
</p>
<p>
  <span>Paroll Rate: </span>
  {{ payroll_employee.payroll.rate }}
</p>
<p>
  <span>ID No.: </span>
  {{ payroll_employee.employee.employee.employee_id_number }}</p>
<p>
  <span>First Name: </span>
  {{ payroll_employee.employee.employee.first_name }}
</p>
<p>
  <span>Middle Name: </span>
  {{ payroll_employee.employee.employee.middle_name }}
</p>
<p>
  <span>Last Name: </span>
  {{ payroll_employee.employee.employee.last_name }}
</p>
<p>
  <span>Job Grade: </span>
  {{ payroll_employee.employee.grade }}
</p>
<p>
  <span>PayPeriod: </span>
  {{ payroll_employee.employee.get_pay_period_display }}
</p>
<p>
  <span>Currency: </span>
  {{ payroll_employee.employee.negotiated_salary_currency }}
</p>
<p>
  <span>Job Title: </span>
  {{ payroll_employee.employee.position.position }}
</p>
<p>
  <span>Department: </span>
  {{ payroll_employee.employee.position.department }}
</p>

<table>
  <h3>Earnings</h3>
  <tr>
    <th>Earning</th>
    <th>Amount</th>
    <th>Currency</th>
  </tr>
  <tr>
    <td>Basic</td>
    <td>{{payroll_employee.employee.negotiated_salary }}</td>
    <td>{{payroll_employee.employee.negotiated_salary_currency }}</td>
  </tr>
{% for earning in earnings %}
  <tr>
    <td>{{ earning.earning }}</td>
    <td>{{ earning.amount}}</td>
    <td>{{ earning.amount_currency}}</td>
  </tr>
{% endfor %}
  <tr>
    <td>Total</td>
    <td>{{ payroll_employee.employee.total_earnings.money }}</td>
    <td>{{ payroll_employee.employee.total_earnings.money.currency }}</td>
  </tr>
</table>

<table>
  <h3>Extra Income</h3>
  <tr>
    <th>Extra</th>
    <th>Amount</th>
    <th>Currency</th>
  </tr>
{% for extra in extra_incomes %}
  <tr>
    <td>{{ extra.extra }}</td>
    <td>{{ extra.amount}}</td>
    <td>{{ extra.amount_currency}}</td>
  </tr>
{% endfor %}
  <tr>
    <td>Total</td>
    <td>{{ total_extra_income }}</td>
    <td>{{ total_extra_income.currency }}</td>
  </tr>
</table>

<table>
  <h3>Deductions</h3>
  <tr>
    <th>Status</th>
    <th>Item</th>
    <th>Amount Owe</th>
    <th>Amount Deducted</th>
    <th>Balance</th>
    <th>Completed</th>
  </tr>
{% for deduction in deductions %}
  <tr>
   <td>{{ deduction.plan.get_status_display }}</td>
   <td>{{ deduction.plan.deductable.item }}</td>
   <td>{{ deduction.plan.deductable.amount }}</td>
   <td>{{ deduction.plan.total_paid }}</td>
   <td>{{ deduction.plan.balance }}</td>
   <td>{{ deduction.plan.completed }}</td>
  </tr>
{% endfor %}
  <tr>
    <td>Total</td>
    <td>{{ deductions.count }}</td>
    <td>3</td>
    <td>{{ total_deduction }}</td>
  </tr>
</table>
{% endblock %}
