{% extends 'sidebar.html' %}
{% block title %}{% endblock %}
{% block head %}
{% endblock %}
{% block display %}    
    <a href="{% url 'employee_create' %}">New Employee</a>
    <a href="{% url 'payroll_create' %}" id="add-to-payroll">add to payroll</a>
  {{employees|json_script:'employees-data'}}
  <div id="employee-table">
    <table id="example" class="display">
        <thead></thead>
        <tfoot>
            <tr></tr>
        </tfoot>
    </table>
  </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.24/af-2.3.5/b-1.7.0/b-colvis-1.7.0/b-html5-1.7.0/b-print-1.7.0/cr-1.5.3/date-1.0.3/fc-3.3.2/fh-3.1.8/kt-2.6.1/r-2.2.7/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.1/sp-1.2.2/sl-1.3.3/datatables.min.js"></script>

<script>
  function renderEmpDetailTable(table, fields){
    let data = $.parseJSON($("#employees-data")[0].textContent);
    let tableHead = $("#example thead")
    
    let keys = Object.keys(data[0])
    let tableHeader = keys.map(key => { 
      let words = key.split('_').map(
        key => key[0].toUpperCase() + key.substr(1, key.length)
      )
      return `<td class='${key}'>${words.join("_")}</td>`; 
    }).join("\n");

    function processDataColumn(columns, key, renderFun=null){
        let cols = []
        for(let i = 0; i < columns.length; i++){
          if (columns[i].trim() === key)
            cols.push({ "data": columns[i], "className": columns[i], "render": renderFun })
          else 
            cols.push({ "data": columns[i], "className": columns[i]})
        }
        return cols
      }

      render = function(data, type, row, meta){
                if(type === 'display')
                  data = '<a href="' + row["id"] + '">' + data + '</a>';

                return data;
             }
      let columns = processDataColumn(keys, "employee_id_number", render);

      tableHead.append(`<tr>${tableHeader}</tr>`)
      table.DataTable({ 
          data: data,
          columns: columns
      });
  }

  let table = $("#example")
  renderEmpDetailTable(table, [])
</script>
    
{% endblock %}
